body{
    background-color: rgba(165, 42, 42, 0.514);
}

.submission{
    width: 80%;
    margin: 20% auto;
    align-content: center;
    text-align: center;
}

.nav-container{
    display: flex;
    list-style-type: none;
    margin: 23px;
}

.nav-container li{
    margin: auto;
}

.nav-container li a{
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
}

.nav-container li:hover{
    background-color: rgb(243, 183, 218);
}

body h1{
    text-align: center;
}