{% extends 'base.html' %} {% block head %}

<div class="nav-container">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="/uploadFile">Upload File</a></li>
    <li class="nav"><a href="#">Download File</a></li>
    <li class="nav"><a href="/bookNow">Calendar</a></li>
</div>
<hr>

{% endblock %} 
{% block body %}

<h1>Test Server :)</h1>
<form>
    <label for="username">Username</label><br>
    <input type="text" name="user" id="username"><br>
    <label for="password">Password</label><br>
    <input type="password" name="ps" id="ps"><br>
    <input type="submit" value="submit"><br><br>
    <input type="submit" name="show" value="Get Data">
</form>



{% endblock%}